<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title SarFrontal

	link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-3.3.1.min.css")
	link(rel="stylesheet", href="libs/bs elements/assets/css/main.css")
	link(rel="stylesheet", href="libs/bootstrap-3.3.7/dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="libs/bs elements/bootstrap_skin.css")
	link(rel="stylesheet", href="css/fonts.css")
	link(rel="stylesheet", href="libs/owl-carousel/dist/assets/owl.carousel.css")
	link(rel="stylesheet", href="libs/owl-carousel/dist/assets/owl.theme.default.css")
	link(rel="stylesheet", href="css/main.css")
		
body(data-spy="scroll" data-target=".navbar" data offset="-50")
	nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
		.container-fluid
			.navbar-header
				a.navbar-brand
					img(src="img/logo.png")
			.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.active
						a(href='#main_first') О нас
					li
						a(href="#Price") Цены
					li 
						a(href="#projects") Проекты
					li
						a(href="#precedence") Преимущества
					li
						a(href="#") Контакты
					li
						a(href="#") Отзывы
				.top-number
					.number-number
						div
								p +7(953) 976-67-37
						div
								p +99(953) 999-77-33
					div.buttns
						a.btn.btn-default Moskov
						a.btn.btn-default Saratov
						
	section.main_first(id="main_first")
		.container
			.col-md-6
				.central_description
					h1 Профессионально монтируем натяжные потолки в Саратове и области
					h4 *При заказе всей квартиры - точечные светильники в подарок!
			.col-md-6
				form
					.form_in
						h4 Оставьте #[span заявку], чтобы заказать #[span бесплатный] замер
						label(for="")
							input(type="text" placeholder="Ваше имя")
						label(for="")
							input(type="text" placeholder="Ваш телефон")
						<a href="#" class="btn btn-default">Заказать</a>

	section.reasons(id="reasons")
		.container
			.col-md-3
				.reasons_item
					h2 7 лет
					p на рынке
			.col-md-3
				.reasons_item
					h2 4
					p бригады монтажников
			.col-md-3
				.reasons_item
					h2 12 лет
					p гарантии по договору
			.col-md-3
				.reasons_item
					h2 3 часа
					p среднее время монтажа
	section.Price(id="Price")
		.container
			h2 Цены и варианты потолков
			.col-md-4
				.item
					.item_price
						h3 Белые матовые
						h4.price 290 руб/м#[sup 2]
					img(src="img/1.jpg", alt="1")
					.item_price.end
						p *Цена по акции действует до 1 октября 2017 года
						ul
							li Немецкое полотно (фирма Pongs)
							li Комплектующие
							li Монтаж
							li Установка 1 люстры и 1 трубы (в каждой комнате)
						a(href="#").btn.btn-default Заказать
			.col-md-4
				.item
					.item_price
						h3 Белые глянцевые
						h4.price 350 руб/м#[sup 2]
					img(src="img/2.png", alt="2")
					.item_price.end
						p *Цена по акции действует до 1 октября 2017 года
						ul
							li Немецкое полотно (фирма Pongs)
							li Комплектующие
							li Монтаж
							li Установка 1 люстры и 1 трубы (в каждой комнате)
						a(href="#").btn.btn-default Заказать
			.col-md-4
				.item
					.item_price
						h3 Белые сатиновые
						h4.price 350 руб/м#[sup 2]
					img(src="img/3.png", alt="3")
					.item_price.end
						p *Цена по акции действует до 1 октября 2017 года
						ul
							li Немецкое полотно (фирма Pongs)
							li Комплектующие
							li Монтаж
							li Установка 1 люстры и 1 трубы (в каждой комнате)
						a(href="#").btn.btn-default Заказать
			.col-md-4
				.item
					.item_price
						h3 Цветные сатиновые
						h4.price 390 руб/м#[sup 2]
					img(src="img/4.png", alt="4")
					.item_price.end
						p *Цена по акции действует до 1 октября 2017 года
						ul
							li Немецкое полотно (фирма Pongs)
							li Комплектующие
							li Монтаж
							li Установка 1 люстры и 1 трубы (в каждой комнате)
						a(href="#").btn.btn-default Заказать
			.col-md-4
				.item
					.item_price
						h3 Белые глянцевые
						h4.price 390 руб/м#[sup 2]
					img(src="img/5.png", alt="5")
					.item_price.end
						p *Цена по акции действует до 1 октября 2017 года
						ul
							li Немецкое полотно (фирма Pongs)
							li Комплектующие
							li Монтаж
							li Установка 1 люстры и 1 трубы (в каждой комнате)
						a(href="#").btn.btn-default Заказать
			.col-md-4
				.item
					.item_price
						h3 Цветные глянцевые
						h4.price 390 руб/м#[sup 2]
					img(src="img/6.png", alt="6")
					.item_price.end
						p *Цена по акции действует до 1 октября 2017 года
						ul
							li Немецкое полотно (фирма Pongs)
							li Комплектующие
							li Монтаж
							li Установка 1 люстры и 1 трубы (в каждой комнате)
						a(href="#").btn.btn-default Заказать
			.col-md-4
				.item
					.item_price
						h3 Фотопечать
						h4.price 390 руб/м#[sup 2]
					img(src="img/7.png", alt="7")
					.item_price.end
						p *Цена по акции действует до 1 октября 2017 года
						ul
							li Немецкое полотно (фирма Pongs)
							li Комплектующие
							li Монтаж
							li Установка 1 люстры и 1 трубы (в каждой комнате)
						a(href="#").btn.btn-default Заказать
			.col-md-4
				.item
					.item_price
						h3 Фактурные
						h4.price 390 руб/м#[sup 2]
					img(src="img/8.png", alt="8")
					.item_price.end
						p *Цена по акции действует до 1 октября 2017 года
						ul
							li Немецкое полотно (фирма Pongs)
							li Комплектующие
							li Монтаж
							li Установка 1 люстры и 1 трубы (в каждой комнате)
						a(href="#").btn.btn-default Заказать
			.col-md-4
				.item
					.item_price
						h3 Тканевые
						h4.price 390 руб/м#[sup 2]
					img(src="img/9.png", alt="9")
					.item_price.end
						p *Цена по акции действует до 1 октября 2017 года
						ul
							li Немецкое полотно (фирма Pongs)
							li Комплектующие
							li Монтаж
							li Установка 1 люстры и 1 трубы (в каждой комнате)
						a(href="#").btn.btn-default Заказать
			.col-md-4
				.item
					.item_price
						h3 Комбинированные
						h4.price 390 руб/м#[sup 2]
					img(src="img/10.png", alt="10")
					.item_price.end
						p *Цена по акции действует до 1 октября 2017 года
						ul
							li Немецкое полотно (фирма Pongs)
							li Комплектующие
							li Монтаж (+спайка полотен)
						a(href="#").btn.btn-default Заказать
			.col-md-4
				.item
					.item_price
						h3 Парящие
						h4.price 390 руб/м#[sup 2]
					img(src="img/11.png", alt="11")
					.item_price.end
						p *Цена по акции действует до 1 октября 2017 года
						ul
							li Материалы
							li Диодная лента
							li Монтаж
						a(href="#").btn.btn-default Заказать
			.col-md-4
				.item
					.item_price
						h3 Двухуровневые
						h4.price 390 руб/м#[sup 2]
					img(src="img/12.png", alt="12")
					.item_price.end
						p *Цена по акции действует до 1 октября 2017 года
						ul
							li Конструкция
							li Комплектующие
							li Монтаж
						a(href="#").btn.btn-default Заказать
	section.projects(id="projects")
			h2 Реализованные проекты
			.owl-carousel
				.item
					img(src="img/carousel/1.jpg", alt="1")
				.item
					img(src="img/carousel/2.jpg", alt="2")
				.item
					img(src="img/carousel/3.jpg", alt="3")
				.item
					img(src="img/carousel/4.jpg", alt="4")
				.item
					img(src="img/carousel/5.jpg", alt="5")
	section.precedence(id="precedence")
		h2 Особенности и преимущества
		.container
			.row
				.col-md-6
					ul
						li
							img(src="img/galka.png", alt="")
							p Быстрая и чистая установка
						li 
							img(src="img/galka.png", alt="")
							p Водонепроницаемость
						li 
							img(src="img/galka.png", alt="")
							p Безопасные нетоксичные материалы
						li 
							img(src="img/galka.png", alt="")
							p Скрывают неприглядные провода и трубы
						li 
							img(src="img/galka.png", alt="")
							p Более 100 вариантов оформления
						li 
							img(src="img/galka.png", alt="")
							p Защищены от бактерий, запахов и плесени
				.col-md-6
					ul
						li
							img(src="img/galka.png", alt="")
							p Далеко-далеко за словесными горами в стране.
						li
							img(src="img/galka.png", alt="")
							p Диких запятой, использовало скатился вопроса.
						li
							img(src="img/galka.png", alt="")
							p Деревни если семь, запятой залетают.
						li
							img(src="img/galka.png", alt="")
							p Имеет там города до предупредила.
						li
							img(src="img/galka.png", alt="")
							p Дорогу текстами все безопасную то.
						li
							img(src="img/galka.png", alt="")
							p Дороге lorem образ все дал!
	section.end
		h3 NickolaQ Knaifovski
		h4 Github: #[a(href="https://github.com/Knaifovski") github.com/Knaifovski]
	section.contacts
		.container
			.col-md-12
	script(src="libs/jquery/jquery-3.2.1.min.js")
	script(src="libs/bootstrap-3.3.7/dist/js/bootstrap.min.js")
	script(src="libs/owl-carousel/dist/owl.carousel.min.js")
	script(src="js/common.js")